*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    min-height: 100vh;
    max-width: 80vw;
    background-color: antiquewhite; 
    margin: 0 auto;
}

div#footer {
    background-color: antiquewhite;
    color: #4c98af;
}

a {
    text-decoration: none;
    color: #4c98af;
    transition: color 400ms, filter 1s;
}

a:hover {
    color: #585858;
}

div.immer {
    display:flex;
    align-items:center;
    justify-content:center;
}

img#immer {
    width: 420px;
    filter: blur(.2px);
}

form {
width: 100%;
flex: 1 0 auto;
margin: 0 auto;
padding-left: 1em;
padding-top: 1px;
}

.input {
-webkit-appearance: none;
-moz-appearance: none;
-ms-appearance: none;
-o-appearance: none;
appearance: none;
-webkit-tap-highlight-color: rgba(0,0,0,0);
font-size: 1.1em;
font-weight: normal;
text-align: center;
display: block;
width: 400px;
background: rgb(255, 255, 255);
outline: none;
border: none;
padding: 0;
height: 2.545455em;
z-index: 1;
position: relative;
top: -1px;
}

.select {
-webkit-appearance: none;
-moz-appearance: none;
-ms-appearance: none;
-o-appearance: none;
appearance: none;
-webkit-tap-highlight-color: rgba(0,0,0,0);
font-size: 1.1em;
font-weight: normal;
text-align: center;
display: block;
width: 100px;
background: #4c98af;
color: white;
outline: none;
border: none;
padding: 8px;
height: 2.545455em;
z-index: 1;
position: relative;
top: -1px;
border-end-start-radius: 12px;
border-start-start-radius: 12px;
cursor: pointer;
transition: background-color 200ms;
}

.select:hover {
    background-color: rgb(160, 101, 86);
}

.button {
font-size: 1.1em;
background-color: #4c98af;
border: none;
border-end-end-radius: 12px;
border-start-end-radius: 12px;
color: white;
padding: 10px 32px;
text-align: center;
text-decoration: none;
outline: none;
border: none;
z-index: 1;
position: relative;
top: -1px;
height: 2.545455em;
width: 100px;
transition: background-color 200ms;
}

.button:hover {
background-color: rgb(160, 101, 86);
}

.search {
display: flex;
flex-direction: row;
justify-content: center;
}

.block {
width: auto;
}

div.search{
filter: drop-shadow(2px 2px 2px #8080e5);
transition: filter 100ms;
}

div.search:hover {
filter: drop-shadow(0px 0px 0px #8080e500);
}

.center {
position: fixed;
top: 35%;
left: 50%;
transform: translate(-50%, -50%);
}

.resultsbar {
margin-top: 48px;
margin-bottom: 48px;
}

#scraps {
    white-space: nowrap; 
    width: 400px; 
    overflow: hidden;
    text-overflow: ellipsis; 
}

div.immer-container {
position: fixed;
right: 40px;
bottom: 55px;
height: 200px;
width: 300px;
}

.bubble {
    background-color: #fff;
    width: 200px;
    height: 120px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    display: none;
}

.show:hover .bubble {
    display: block;
}

.immersml {
    width: 96px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.about {
    padding-top: 20px;
    font-size: small;
    text-align: center;
    opacity: .6;
}

@media only screen and (max-width: 800px) {
    .input {
      width: 40vw;
    }
    #footlink {
        display: none;
    }
    #footicon {
        font-size: xx-large;
    }
  }

