/* Size for brand */
nav .navbar-brand {
font-size: xx-large;
opacity: .70;
}
nav .navbar-brand:hover {
opacity: 1;
}

.center {
margin: auto;
width: 80%;
}

.search {
padding-top: 10%;
}

.options {
padding-top: 5%;
padding-bottom: 5%;
}