/* Size for brand */

a {
color: rgb(172, 185, 212);
text-decoration: none;
}

a:hover{
color: rgb(240, 235, 229);
opacity: .7;
}

a:visited{
color: cornflowerblue;
}

body{
margin-left: 5%;
margin-right: 5%;
background-color: #5b6388;
font-size: large;
}

nav .navbar-brand {
font-size: x-large;
opacity: .70;
}

nav .navbar-brand:hover {
opacity: 1;
}

.search {
padding-top: 10%;
padding-bottom: 5%;
}



p {
white-space: nowrap; 
width: 90%; 
overflow: hidden;
text-overflow: ellipsis;
}

#results {
animation: fadein 3s; 
}
@keyframes fadein {
0% {
opacity:0;
}
40%{
opacity:0.4;
}
100% {
opacity:1;
}
}

