/* Size for brand */

a {
color: rgb(172, 185, 212);
text-decoration: none;
}

a:hover{
color: rgb(240, 235, 229);
opacity: .7;
}

a:visited{
color: cornflowerblue;
}

body{
background-color: #5b6388;
font-size: large;
color: rgba(250, 235, 215, 0.747);
}

nav .navbar-brand {
font-size: x-large;
opacity: .8;
}

nav .navbar-brand:hover {
opacity: 1;
}

.search {
padding-top: 20%;
padding-bottom: 5%;
}


p {
white-space: nowrap; 
width: 85%; 
overflow: hidden;
text-overflow: ellipsis;
}

#results {
animation: fadein 2s; 
}
@keyframes fadein {
0% {
opacity:0;
}
40%{
opacity:0.4;
}
100% {
opacity:1;
}
}

.center {
margin: auto;
padding: 10px;
}

table { 
table-layout:fixed;
}
td { 
overflow: hidden; 
text-overflow: ellipsis; 
word-wrap: break-word;
}
